.text-click-on-qr {
    position: absolute;
    width: auto;
    top: 340px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: inline-table;
    color: #FFEB3B;
    font-weight: 700;
    font-size: 18px;
}
#input-bar-old {
    margin-top: 0;
}
.generate-btn-old {
    padding: 4px !important;
    font-size: 14px !important;
}
.generate-btn-old-svg {
    padding: 8px !important;
    width: 24px !important;
    height: 24px !important;
}